/* FUENTES */

/* roboto */

@font-face {
  font-family: 'roboto';
  src: url('fuentes/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('fuentes/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

/* GENERAL PARA TODA LA WEB */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  transition: 0.5s;
  font-family: 'roboto', sans-serif;
  background-color: #f7f4f5;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23eae6e8' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
  overflow-x: hidden;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
}

@media (min-width: 520px) {
  body {
    /* animacion del fondo */
    animation: mover-fondo linear 6.4s infinite;
  }
}

/* animacion del fondo */

@keyframes mover-fondo {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 128px 128px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.contenedor-rejilla a:hover {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

main {
  margin: 90px auto;
  width: 96%;
  min-height: 600px;
  display: block;
}

textarea {
  resize: vertical;
  font-family: unset;
}

input {
  font-family: unset;
  transition: 0.36s ease-in-out;
}

img {
  display: inline-block;
}

.ocultar_movil {
  display: none;
}

@media (min-width: 500px) {
  main {
    margin: 100px auto;
    width: 88.6%;
  }
}

@media (min-width: 750px) {
  main {
    margin: 110px auto;
    width: 81.3%;
  }
  .ocultar_movil {
    display: block;
  }
}

@media (min-width: 1080px) {
  main {
    margin: 120px auto;
    width: 74%;
  }
}

/* ICONOS EN FONDO */

.item-bt {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  transition: 0.36s ease-in-out;
  border-radius: 25%;
  display: inline-block;
  width: 3em;
  height: 3em;
}

main .item-bt:hover {
  background-color: #EAE6E8;
}

a.icon_menu:hover {
  background-color: #EAE6E8;
}

@media (max-width: 800px) {
  main .item-bt {
    width: 2.5em;
    height: 2.5em;
    background-size: 35px;
  }
}

@media (max-width: 550px) {
  main .item-bt {
    width: 2em;
    height: 2em;
    background-size: 30px;
  }
}

/* NAVIGATION */

.header-main {
  width: 100%;
  position: fixed;
  top: 0;
  height: 80px;
  background: #F7F4F5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em;
  border: solid 1px #EAE6E8;
  z-index: 10;
  box-shadow: 0px 1.6px 6.4px 0px rgba(33, 32, 32, 0.64);
}

.header-main .mensaje_user {
  display: none;
  margin: auto 1em;
}

.header-main .mensaje_user>a {
  font-weight: bold;
  color: #C5497B;
}

.header-main .mensaje_user>a:hover {
  color: #AB426C;
}

.header-main a.icon_menu {
  width: 2em;
  height: 100%;
  background-image: url(iconos/menu_icon.svg);
}

.header-main h1.page_title {
  margin: 0 0.5em;
  flex: 1;
  text-align: right;
}

@media (min-width: 750px) {
  .header-main .mensaje_user {
    display: inline;
  }
  .header-main h1.page_title {
    text-align: left;
  }
}

input[type=submit]:hover {
  transform: translateY(-6.4px);
  box-shadow: 0 6.4px 0 0 #49C498;
  cursor: pointer;
}

/* NAVIGATION - SIDENAV DESPLEGABLE */

.icon_menu {
  font-size: 2em;
}

.sidenav-main {
  height: 100%;
  position: fixed;
  width: 320px;
  top: 0;
  background-color: #C5497B;
  transition: 0.5s;
  padding-top: 80px;
}

.sidenav-main .lista a {
  padding: 1.25rem 2.5rem;
  display: block;
  color: #ffffff;
  font-size: 1.25em;
  border-top: solid 1px #AB426C;
}

.header-main .sidenav-main a:hover {
  color: #F7F4F5;
}

.sidenav-main a#boton_cerrar_menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: url(iconos/close_icon.svg);
  background-size: 40px;
}

@media (max-height: 640px) {
  .sidenav-main .lista a {
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
  }
}

@media (max-height: 500px) {
  .info_autor {
    display: none;
  }
}

.sidenav-main .info_autor {
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  

}
.sidenav-main .info_autor li{
  padding: 0.75rem 2.5rem;
}

.sidenav-main .info_autor a{
  display: block;
  border-top: solid 1px #AB426C;
}

#filtro_oscuro {
  display: block;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.64);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
}

/* MAIN - hero image */

.hero_exposiciones {
  background-image: url("../img/nicolas-olivares-G7_Um0dk-9Y-unsplash.jpg");
}

.hero_comunidad {
  background-image: url("../img/kelli-tungay-Sj0nhVIb4eY-unsplash.jpg");
}

.hero-image {
  height: 64vh;
  min-height: 400px;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 1rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* MAIN - imagen polygon background */
.polygon_comunidad {
  background-image: url(../img/daniele-levis-pelusi-ENdi1TkM1QQ-unsplash.jpg);
}

.polygon-wrapper {
  background-color: #FFFFFF;
  height: 36vh;
  min-height: 300px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 1rem;
}
.polygon-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  clip-path: ellipse(64% 100% at 100% 80%);
}

.polygon-text {
  position: absolute;
  z-index: 5;
  padding: 1.5rem;
  max-width: 400px;
  top: 50%;
  transform: translate(0, -50%);
  color: #212020;
}

/* MAIN - CONTENEDORES GENERALES */

.contenedor-secundario, .contenedor-busqueda {
  padding: 1em 0;
  margin: 2em auto;
}

.contenedor-secundario {
  border-radius: 4px;
  text-align: center;
  max-width: 650px;
}

.contenedor-blanco {
  background-color: #ffffff;
}

.contenedor-transparente {
  border: 2px solid #EAE6E8;
  background-color: #F7F4F5;
}

.contenedor-secundario .form_header {
  padding: 0.5em;
}

.contenedor-texto {
  padding: 0.5em 2em;
  margin: 0.5em auto;
}

.contenedor-secundario .formulario {
  margin: 0 2em;
}

.contenedor-secundario label {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-top: 1em;
}

.contenedor-secundario .requerido {
  color: #49C498;
}

.contenedor-secundario input[type=text], .contenedor-secundario input[type=password], .contenedor-secundario input[type=submit], .contenedor-secundario select, .contenedor-secundario textarea {
  width: 100%;
  padding: 1.25em 1em;
  margin: 1em auto;
  font-size: 1em;
  border-radius: 6px;
}

.contenedor-secundario input[type=text], .contenedor-secundario input[type=password], .contenedor-secundario select, .contenedor-secundario textarea {
  background-color: #F7F4F5;
  color: #212020;
  border: solid 1px #C5497B;
}

.contenedor-secundario input[type=text]:focus, .contenedor-secundario input[type=password]:focus, .contenedor-secundario select:focus, .contenedor-secundario textarea:focus {
  background-color: #FFFEFE;
  border-color: #49C498;
}

.contenedor-secundario input[type=submit] {
  background-color: #C5497B;
  color: #ffffff;
  border: none;
}

.contenedor-secundario select {
  width: 100%;
  padding: 1.25em 1em;
  margin: 1em auto;
  font-size: 1em;
  border-radius: 6px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@media (max-width: 500px) {
  .contenedor-secundario input[type=text], .contenedor-secundario input[type=password], .contenedor-secundario input[type=submit] {
    padding: 0.75em 1em;
    border-radius: 2px;
  }
}

@media (max-width: 750px) {
  .contenedor-secundario input[type=text], .contenedor-secundario input[type=password], .contenedor-secundario input[type=submit] {
    padding: 1em 1em;
    border-radius: 4px;
  }
}

/* CONTENEDORES EN REJILLA - EXPOSICIONES Y COMUNIDAD */

.contenedor-rejilla {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 0;
  flex-basis: content;
  padding: 1em 0;
  margin: 0;
  max-width: none;
}

.exposicion_tarjeta {
  background-color: #ffffff;
  border: solid 2px #EAE6E8;
  border-radius: 6px;
  margin: 1em;
  transition: 0.36s ease-in-out;
}

.exposicion_tarjeta:hover {
  transform: translateY(-6px);
  box-shadow: 0 3px 3.4px 0 #EAE6E8;
}

.exposicion_tarjeta img {
  max-width: 400px;
  max-height: 400px;
}

.exposicion_tarjeta:hover img {
  animation: rotacion-color 3.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotacion-color {
  from {
    filter: hue-rotate(0turn);
  }
  to {
    filter: hue-rotate(1turn);
  }
}

.exposicion_tarjeta:hover img {
  animation: rotacion-color 3.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.exposicion_tarjeta .exposicion_header {
  padding: 0 1em;
  background-color: #F7F4F5;
  transition: 0.64s;
}

.exposicion_tarjeta:hover .exposicion_header, a:hover .exposicion_tarjeta .exposicion_header {
  background-color: #C5497B;
  color: #ffffff;
}

.exposicion_tarjeta .exposicion_header h3 {
  font-weight: normal;
  padding-top: 0.5em;
  text-align: left;
  font-size: 1em;
}

.exposicion_tarjeta .exposicion_header .exposicion_header_titulo {
  text-align: left;
}

.exposicion_tarjeta .exposicion_header .exposicion_header_subtitulo {
  text-align: right;
  font-size: 0.9em;
  padding-bottom: 0.5em;
}

.exposicion_tarjeta input[type=submit] {
  margin: 0;
  padding: 0.5em;
  border-radius: 0;
  color: #212020;
  background-color: unset;
  border-top: solid 1px #EAE6E8;
}

.exposicion_tarjeta input[type=submit]:hover {
  color: #6A6466;
}

.imagen_portada {
  width: 100%;
}

.obra {
  max-width: 322px;
}

.obra img {
  width: 315px;
  height: 315px;
}

@media (max-width: 750px) {
  .obra {
    max-width: 370px;
  }
  .obra img {
    width: 320px;
    height: 320px;
  }
  .exposicion_tarjeta .exposicion_header {
    font-size: 1.2em;
  }
}

.texto_tarjeta_exposicion {
  height: auto;
  padding: 1em 0.5em;
  line-break: anywhere;
}

/* SECCION DE EXPOSICIONES */

.panel_informacion {
  display: flex;
  max-width: none;
  text-align: left;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.panel_informacion p {
  height: max-content;
  margin: auto 0;
}

#buscar_exposicion {
  padding: 0.5em 1em;
  border: none;
  background-color: unset;
  font-size: 1em;
  flex: 2;
}

#buscar_exposicion:focus::placeholder {
  color: #6A6466;
}

#buscar_exposicion:focus:parent {
  border-color: #000000;
}


.contenedor-busqueda {
  padding: 0.5em 0;
  position: sticky;
  top: 85px;
  z-index: 10;
  margin-bottom: unset;
}

.contenedor-busqueda p.busqueda {
  display: flex;
  padding: 0 0.5em;
  border: solid 2px #EAE6E8;
  background-color: #FFFEFE;
  border-radius: 1.5em;
  flex: auto;
}

.separador_busqueda {
  border: none;
  border-top: 2px solid #EAE6E8;
}

#mostrar_resultados_busqueda {
  font-weight: bold;
  color: #49C498;
}

.valoracion {
  text-align: left;
  margin: 0.5em auto;
  padding: 0.75em 0.5em;
}

.valoracion>* {
  padding: 0.25em 1em;
}

@media (min-width: 500px) {
  #buscar_exposicion {
    font-size: 1.1em;
  }
}

@media (min-width: 750px) {
  #buscar_exposicion {
    font-size: 1.2em;
  }
}

@media (min-width: 950px) {
  #buscar_exposicion {
    font-size: 1.3em;
  }
}

/* ICONOS EXPOSICIONES */

.icono_buscar {
  background-image: url(iconos/search_icon.svg);
  margin: auto 0;
}

.icono_resetear {
  background-image: url(iconos/reset_icon.svg);
}

.icono_fav_on {
  background-image: url(iconos/fav_on_icon.svg);
}

.icono_fav_off {
  background-image: url(iconos/fav_off_icon.svg);
}

.icono_aleatorio {
  background-image: url(iconos/shuffle_icon.svg);
}

/* Dimension minima imagen */

@media (max-width: 400px) {
  .contenedor-rejilla .exposicion_tarjeta img {
    max-width: 320px;
    max-height: 320px;
  }
}