/* GENERAL PARA TODA LA WEB */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #F7F4F5;
  color: #212020;
  position: absolute;
  transition: 0.5s;
  overflow-x: hidden;
  width: 100%;
}

a {
  color: #212020;
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

main {
  margin: auto;
  margin-top: 90px;
  width: 96%;
  min-height: 600px;
}

.ocultar_movil {
  display: none;
}

@media (min-width: 500px) {
  main {
    margin-top: 100px;
    width: 88.6%;
  }
}

@media (min-width: 750px) {
  main {
    margin-top: 110px;
    width: 81.3%;
  }

  .ocultar_movil {
    display: block;
  }
}

@media (min-width: 1080px) {
  main {
    margin-top: 120px;
    width: 74%;
  }
}

/* NAVIGATION */

.header-main {
  width: 100%;
  position: fixed;
  top: 0;
  height: 80px;
  background: #F7F4F5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em;
  border: solid 1px #EAE6E8;
}

.header-main .mensaje_user {
  display: none;
  margin: auto 1em;
}

.header-main .mensaje_user>a {
  font-weight: bold;
  color: #C5497B;
}

.header-main .mensaje_user>a:hover {
  color: #AB426C;
  text-decoration: underline;
}

.header-main a.icon_menu {
  width: 2em;
  height: 100%;
  background-image: url(iconos/menu_icon.svg);
  background-size: cover;
  background-position: center;
}

.header-main h1.page_title {
  margin: 0 0.5em;
  flex: 1;
  text-align: right;
}

@media (min-width: 750px) {
  .header-main .mensaje_user {
    display: inline;
  }
  .header-main h1.page_title {
    text-align: left;
  }
}

/* NAVIGATION - SIDENAV DESPLEGABLE */

.icon_menu {
  font-size: 2em;
}

.sidenav-main {
  height: 100%;
  position: fixed;
  width: 320px;
  top: 0;
  background-color: #C5497B;
  transition: 0.5s;
  padding-top: 80px;
}

.sidenav-main .lista a {
  padding: 1em 2em;
  display: block;
  color: #ffffff;
  font-size: 1.25em;
  border-top: solid 1px #AB426C;
}

.header-main .sidenav-main a:hover {
  color: #F7F4F5;
  text-decoration: underline;
}

.sidenav-main a#boton_cerrar_menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: url(iconos/close_icon.svg);
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
}

#filtro_oscuro {
  display: none;
  display: block;
  background-color: rgba(0, 0, 0, 0.64);
  position: absolute;
  width: 100%;
  z-index: 5;
}

/* MAIN - CONTENEDORES GENERALES */

.contenedor-secundario {
  padding: 1em 0;
  border-radius: 4px;
  text-align: center;
  margin: 2em auto;
  max-width: 650px;
}

.contenedor-blanco {
  background-color: #ffffff;
}

.contenedor-transparente {
  border: 2px solid #EAE6E8;
}

.contenedor-secundario .form_header {
  padding: 0.5em;
}

.contenedor-secundario .formulario {
  margin: 0 2em;
}

.contenedor-secundario label {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-top: 1em;
}

.contenedor-secundario .requerido{
  color: #49C498;
}

.contenedor-secundario a {
  color: #C5497B;
}

.contenedor-secundario input[type=text], .contenedor-secundario input[type=password], .contenedor-secundario input[type=submit], .contenedor-secundario select {
  width: 100%;
  padding: 1.25em 1em;
  margin: 1em auto;
  font-size: 1em;
  border-radius: 6px;
}

.contenedor-secundario input[type=text], .contenedor-secundario input[type=password], .contenedor-secundario select {
  background-color: #F7F4F5;
  color: #212020;
  border: solid 1px #C5497B;
}

.contenedor-secundario input[type=submit] {
  background-color: #C5497B;
  color: #ffffff;
  border: none;
}

.contenedor-secundario select {
  width: 100%;
  padding: 1.25em 1em;
  margin: 1em auto;
  font-size: 1em;
  border-radius: 6px;
  -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.contenedor-rejilla {
  
}

@media (max-width: 500px) {
  .contenedor-secundario input[type=text], .contenedor-secundario input[type=password], .contenedor-secundario input[type=submit] {
    padding: 0.75em 1em;
    border-radius: 2px;
  }
}

@media (max-width: 750px) {
  .contenedor-secundario input[type=text], .contenedor-secundario input[type=password], .contenedor-secundario input[type=submit] {
    padding: 1em 1em;
    border-radius: 4px;
  }
}

