canvas {
  border: solid 1px #EAE6E8;
  width: 400px;
  height: 400px;
  cursor: crosshair;
}

#coordenadas {
  padding: .5rem 0;
}

.contenedor-dibujo {
  margin: calc(4rem + 200px) auto;
}

.contenedor-dibujo>div {
  width: 100%;
}

.contenedor_herramientas {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bloque_herramientas {
  padding: .2em;
}

.enviar-obra {
  width: min-content;
  margin: auto;
  border-radius: 4px;
}

.enviar-obra input[type=text] {
  border-radius: 0;
}
.enviar-obra input[type=text]:hover::placeholder, .enviar-obra input[type=text]:focus::placeholder {
  opacity: 1;
}

.enviar-obra>form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.contenedor_herramientas .icono_grande {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor_herramientas #contenedor_colores {
  width: 275px;
  float: left;
}

.contenedor_herramientas #contenedor_colores>div {
  width: 25px;
  height: 25px;
  float: left;
}

.seleccionable:hover {
  border: solid 1px #212020;
}

#color_actual {
  width: 275px;
  margin-right: 0;
}

@media (max-width: 430px) {
  canvas {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 550px) {
  .bloque_herramientas {
    padding: 0.5em 0;
  }
}

@media (min-width: 500px) {
  canvas {
    width: 440px;
    height: 440px;
  }
}

@media (min-width: 750px) {
  canvas {
    width: 600px;
    height: 600px;
  }
}

@media (min-width: 1080px) {
  canvas {
    width: 625px;
    height: 625px;
  }
}

/* Iconos */

.contenedor_herramientas #boton_limpiar {
  background-image: url('borrar.png');
}

.contenedor_herramientas .fino {
  background-image: url('grosor_fino.png');
}

.contenedor_herramientas .medio {
  background-image: url('grosor_medio.png');
}

.contenedor_herramientas .grueso {
  background-image: url('grosor_grueso.png');
}